/* TODO Add site wide styles */
.active {
    font-weight: bold;
}

.green {
    font-size: 30px;
    color: "green";
}

.magenta {
    font-size: 30px;
    color: magenta;
}

.red {
    font-size: 30px;
    color: "red";
}



